name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64

    steps:
    - name: Splitting string
      uses: winterjung/split@v2.1.0
      id: repo
      with:
        msg: ${{ github.repository }}
        separator: '/'
    - name: Checkout project
      uses: actions/checkout@master
      with:
        ref: master
        submodules: recursive
    - name: Build project
      run: |
        git config --global --add safe.directory `pwd`
        git submodule update --remote 
        make -j $(nproc);
        if [ -z "$(ls *.nro 2>/dev/null)" ]; then
          echo "Error: Generated NRO file not found"
          exit 1
        fi
        echo "Generated NRO file: $(ls *.nro)"
        echo "tag_name=$(date +%Y%m%d)" >> $GITHUB_ENV	
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.repo.outputs._1 }} 
        path: ./*.nro
    
    - name: Upload release
      uses: svenstaro/upload-release-action@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        file: ./*.nro
        tag: ${{ env.tag_name }}
        overwrite: true
        file_glob: true
