name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64

    steps:
    - name: spliting string
      uses: winterjung/split@v2.1.0
      id: repo
      with:
        msg: ${{ github.repository }}
        separator: '/'
    - name: Checkout project
      uses: actions/checkout@master
      with:
        ref: master
        submodules: recursive
    - name: Build project
      run: |
        git config --global --add safe.directory `pwd`
        git submodule update --remote 
        make dist-bin -j $(nproc);
        ls *.zip|sed "s/v.*\-.*//" |xargs -I {} mv $(ls *.zip) {}.zip
        echo "tag_name=$(date +%Y%m%d)" >> $GITHUB_ENV	
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.repo.outputs._1 }} 
        path: ./*.zip
    - name: Upload release
      uses: svenstaro/upload-release-action@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        file: ./*.zip
        tag: ${{ env.tag_name }}
        overwrite: true
        file_glob: true
